// ____________________search
.header-nav-search{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 35vh;

    &__search-book-label{
        position: absolute;
        font-size: 0;
    }

    &__search-book-search-label{
        position: absolute;
        font-size: 0;
    }
}
