.books-article-figure{

    &__description{
        font-size: 1.5rem;

        &-elt:first-of-type{
            font-weight: bold;
        }

        &-elt:nth-of-type(2){
            font-style: italic;
        }

        &-elt:last-of-type{
            font-weight: 300;
        }
    }
}
